# Preprocessing Data Using MinMaxScaler (Tugas 9)

## Cara 1

## Cara 2

In [ ]:
#Import the packages
import numpy as np 
import pandas as pd 
# mengakses data 
dataset_url = "https://raw.githubusercontent.com/triasmidwi/dataset/main/credit_score.csv"
# membaca data
df = pd.read_csv(dataset_url)
#menampilkan data
df.head()

,Unnamed: 0,kode_kontrak,pendapatan_setahun_juta,kpr_aktif,durasi_pinjaman_bulan,jumlah_tanggungan,rata_rata_overdue,risk_rating
0,1,AGR-000001,295,YA,48,5,61 - 90 days,4
1,2,AGR-000011,271,YA,36,5,61 - 90 days,4
2,3,AGR-000030,159,TIDAK,12,0,0 - 30 days,1
3,4,AGR-000043,210,YA,12,3,46 - 60 days,3
4,5,AGR-000049,165,TIDAK,36,0,31 - 45 days,2

In [ ]:
#menampilkan info data berserta tipenya
print(df.info())
print()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               900 non-null    int64
 1   kode_kontrak             900 non-null    object
 2   pendapatan_setahun_juta  900 non-null    int64
 3   kpr_aktif                900 non-null    object
 4   durasi_pinjaman_bulan    900 non-null    int64
 5   jumlah_tanggungan        900 non-null    int64
 6   rata_rata_overdue        900 non-null    object
 7   risk_rating              900 non-null    int64
dtypes: int64(5), object(3)
memory usage: 56.4+ KB
None

In [ ]:
#melakukan drop kolom pada kolom yang unnamed
df.drop(df.columns[[0]], axis = 1)

,kode_kontrak,pendapatan_setahun_juta,kpr_aktif,durasi_pinjaman_bulan,jumlah_tanggungan,rata_rata_overdue,risk_rating
0,AGR-000001,295,YA,48,5,61 - 90 days,4
1,AGR-000011,271,YA,36,5,61 - 90 days,4
2,AGR-000030,159,TIDAK,12,0,0 - 30 days,1
3,AGR-000043,210,YA,12,3,46 - 60 days,3
4,AGR-000049,165,TIDAK,36,0,31 - 45 days,2
...,...,...,...,...,...,...,...
895,AGR-010739,112,YA,48,5,> 90 days,5
896,AGR-010744,120,YA,48,2,46 - 60 days,3
897,AGR-010758,166,TIDAK,24,2,0 - 30 days,1
898,AGR-010775,196,TIDAK,48,0,31 - 45 days,2
899,AGR-010790,204,TIDAK,24,2,0 - 30 days,1

In [ ]:
# membuat var x, y untuk melakukan split data
# var x, kecuali kolom risk_rating
#data_credit.drop(data_credit.columns[[0]], axis = 1, inplace = True)
X = df.drop(['risk_rating'], axis = 1)
y = df['risk_rating']

In [ ]:
#melakukan split nilai
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [ ]:
#melakukan proses OneHotEncoder
from sklearn.preprocessing import OneHotEncoder
cols = ['kpr_aktif','rata_rata_overdue']
encoder = OneHotEncoder(sparse=False)
X_train = encoder.fit_transform(X_train[cols])
X_test = encoder.transform(X_test[cols])

In [ ]:
#melakukan proses MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
scaler =  MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
#import library GaussianNB
from sklearn.naive_bayes import GaussianNB

In [ ]:
model_gnb = GaussianNB()

In [ ]:
model_gnb.fit(X_train, y_train)

GaussianNB()

In [ ]:
y_pred = model_gnb.predict(X_test)
#To measure Accuracy
from sklearn.metrics import accuracy_score
print(f'Model accuracy score: {100*accuracy_score(y_test, y_pred):0.2f}%')
print()

Model accuracy score: 100.00%

In [ ]:
# Save Model Using Pickle
import pandas
from sklearn import model_selection
import pickle
# save the model to disk
filename = 'finalized_model.sav'
pickle.dump(model_gnb, open(filename, 'wb'))
 
# some time later...
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, y_test)
print(result)

1.0