# Tugas Data Mining

## Mengukur jarak (TUGAS 1)

Tugas Mengukur Jarak (dissmilarity)
1. ambil data dari kaggle / github
2. ukur jarak d(1,2), d(1,3), d(1,4) objek dari data tersebut

In [ ]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#mengimport data dari kaggle
data_url = 'https://raw.githubusercontent.com/triasmidwi/dataset/main/House_Rent_Dataset.csv'
dataset = pd.read_csv(data_url)

In [ ]:
dataset.head(10)

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner
5,2022-04-29,2,7000,600,Ground out of 1,Super Area,Thakurpukur,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
6,2022-06-21,2,10000,700,Ground out of 4,Super Area,Malancha,Kolkata,Unfurnished,Bachelors,2,Contact Agent
7,2022-06-21,1,5000,250,1 out of 2,Super Area,Malancha,Kolkata,Unfurnished,Bachelors,1,Contact Agent
8,2022-06-07,2,26000,800,1 out of 2,Carpet Area,"Palm Avenue Kolkata, Ballygunge",Kolkata,Unfurnished,Bachelors,2,Contact Agent
9,2022-06-20,2,10000,1000,1 out of 3,Carpet Area,Natunhat,Kolkata,Semi-Furnished,Bachelors/Family,2,Contact Owner

In [ ]:
# Show dataset shape
number_of_columns = dataset.shape[1]
# Show all columns for dataset
pd.set_option('display.max_columns', number_of_columns)
pd.set_option('display.max_rows', number_of_columns)

In [ ]:
# Show all columns from dataframe
dataset.columns

Index(['Posted On', 'BHK', 'Rent', 'Size', 'Floor', 'Area Type',
       'Area Locality', 'City', 'Furnishing Status', 'Tenant Preferred',
       'Bathroom', 'Point of Contact'],
      dtype='object')

### Categorical/Nominal

*   Area Type
*   Point Of Contact

In [ ]:
dataset[["Area Type", "Point of Contact"]].head(5)

     Area Type Point of Contact
0   Super Area    Contact Owner
1   Super Area    Contact Owner
2   Super Area    Contact Owner
3   Super Area    Contact Owner
4  Carpet Area    Contact Owner

### Change Values to 1/0

Take all values of ‘Area Type’ series

*   If values is "Super Area" change to 1
*   If values is "Carpet Area" change to 0

In [ ]:
# Area Type code
areatype_for_SuperArea = "Super Area"
areatype_for_CarpetArea = "Carpet Area"

# binary value
value_of_one = 1
value_of_zero = 0

def change_code_areatype_to_biner(areatyped):
    return value_of_one if areatyped == areatype_for_SuperArea else value_of_zero

In [ ]:
# update semua data pada kolom Area Type
dataset["Area Type"] = dataset["Area Type"].apply(change_code_areatype_to_biner)

In [ ]:
dataset[["Area Type", "Point of Contact"]].head(5)

   Area Type Point of Contact
0          1    Contact Owner
1          1    Contact Owner
2          1    Contact Owner
3          1    Contact Owner
4          0    Contact Owner

### Change Values to 1/0

Take all values of ‘Point of Contact’ series

*   If values is "Contact Owner" change to 1
*   If values is "Contact Agent" change to 0

In [ ]:
# Point of Contact code
PointOfContact_for_ContactOwner = "Contact Owner"
PointOfContact_for_ContactAgent = "Contact Agent"

# binary value
value_of_1 = 1
value_of_0 = 0

def change_code_pointofcontact_to_biner(PointOfContact):
    return value_of_1 if PointOfContact == PointOfContact_for_ContactOwner else value_of_0

In [ ]:
# update semua data pada kolom Point Of Contact
dataset["Point of Contact"] = dataset["Point of Contact"].apply(change_code_pointofcontact_to_biner)

In [ ]:
dataset[["Area Type", "Point of Contact"]].head(5)

   Area Type  Point of Contact
0          1                 1
1          1                 1
2          1                 1
3          1                 1
4          0                 1

In [ ]:
# Variable yang konstan
DECREMENT_BY_ONE = 1
INCREMENT_BY_ONE = 1

CONTINGENCY_TABLE_VALUE = {
    "q" : (1,1),
    "r" : (1,0),
    "s" : (0,1),
    "t" : (0,0),
}

In [ ]:
def get_series(dataset, idx, series):
    return dataset.loc[(idx), series]

In [ ]:
def get_dissimilarity_dataset(dataset, series_index = [], series = []):
    first_series = get_series(dataset, series_index[0], series)
    second_series = get_series(dataset, series_index[1], series)
    data = pd.concat([first_series,second_series],axis=1)
    return data.T

In [ ]:
get_dissimilarity_dataset(dataset, [1,2], ["Area Type", "Point of Contact"]).T

                  1  2
Area Type         1  1
Point of Contact  1  1

In [ ]:
dataset.loc[0:5, ["Area Type", "Point of Contact"]]

   Area Type  Point of Contact
0          1                 1
1          1                 1
2          1                 1
3          1                 1
4          0                 1
5          1                 1

In [ ]:
def count_contingency_value(dataset, start_index = 0, last_index = 1):

    CONTINGENCY_VALUE = {
        "q" : 0,
        "r" : 0,
        "s" : 0,
        "t" : 0,
    }

    column_range = dataset.shape[1]

    for column in range(column_range):
        for value in CONTINGENCY_TABLE_VALUE:
            item = list((tuple(dataset.loc[(start_index):(last_index), dataset.columns[column]]) == CONTINGENCY_TABLE_VALUE[value], value))
            if item[0] == True:
                if item[1] == "q":
                    CONTINGENCY_VALUE["q"] += 1
                if item[1] == "r":
                    CONTINGENCY_VALUE["r"] += 1
                if item[1] == "s":
                    CONTINGENCY_VALUE["s"] += 1
                if item[1] == "t":
                    CONTINGENCY_VALUE["t"] += 1

    return CONTINGENCY_VALUE

In [ ]:
# d(1,2)
dataset_1_2 = get_dissimilarity_dataset(dataset, [1,2], ["Area Type", "Point of Contact"])

In [ ]:
c_d_1_2 = count_contingency_value(dataset_1_2, 1, 2)

In [ ]:
# d(1,3)
dataset_1_3 = get_dissimilarity_dataset(dataset, [1,3], ["Area Type", "Point of Contact"])

In [ ]:
c_d_1_3 = count_contingency_value(dataset_1_3, 1, 3)

In [ ]:
# d(1,4)
dataset_1_4 = get_dissimilarity_dataset(dataset, [1,4], ["Area Type", "Point of Contact"])

In [ ]:
c_dataset_1_4 = count_contingency_value(dataset_1_4, 1, 4)

In [ ]:
# d(1,5)
dataset_1_5 = get_dissimilarity_dataset(dataset, [1,5], ["Area Type", "Point of Contact"])

In [ ]:
c_dataset_1_5 = count_contingency_value(dataset_1_5, 1, 5)

### Dissimilarity Binary Assymetric Value Formula

$$ \frac {p + r}{q + r + s} $$

In [ ]:
def measure_dissimilarity_binary_value_assymetric_distance(contingency_value):

    return (contingency_value["r"] + contingency_value["s"]) / (contingency_value["q"] + contingency_value["r"] + contingency_value["s"])

In [ ]:
d_1_2 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_2)
d_1_3 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_2)
d_1_4 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_2)

In [ ]:
d_1_2

0.0

In [ ]:
d_1_3

0.0

In [ ]:
d_1_4

0.0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## Diskritisasi (TUGAS 2)

1.   Carilah data yang bertipe numerik ( data klassifikasi)
2.   Lakukan proses diskritisasi dengan equal width dan equal frequency
3.   Lakukan proses diskritisasi dengan basis entropy
4.   Kumpulkan tugas dengan link github ( web statis dari jupyter book)

In [ ]:
# menggunakan library pandas
import pandas as pd

In [ ]:
# mengakses data 
dataset_url = "https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv"
# membaca data
dataset = pd.read_csv(dataset_url)

In [ ]:
# menampilkan 10 data
dataset.head(10)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa
8           4.4          2.9           1.4          0.2  Setosa
9           4.9          3.1           1.5          0.1  Setosa

In [ ]:
# set Variable konstan
SEPAL_LENGTH_SERIES = dataset["sepal.length"]
SEPAL_WIDTH_SERIES = dataset["sepal.width"]
PETAL_LENGTH_SERIES = dataset["petal.length"]
PETAL_WIDTH_SERIES = dataset["petal.width"]

### Menghitung data

#### Definisi Diskritisasi





1.   Proses mengubah data bertipe data numeric menjadi data bertipe categorical

2. Diskritisasi memiliki 2 pendekatan yaitu equal-width intervals dan equal-frequency intervals

3. equal-width intervals adalah diskritisasi dengan lebar data yang sama

4. equal-frequency intervals adalah diskritisasi dengan jumlah data yang sama

### Cut

* Cut adalah sebuah method pada library pandas untuk melakukan perhitungan equal width frequency intervals

Syntax
pd.cut(series, interval, right=True, label)

### Sepal Width

* Equal Width Intervals lebar kelopak bunga Iris
* Dikelompokkan menjadi 3 kategori yaitu
* Kategori sedikit lebar
* Kategori lebar
* Kategori sangat lebar

In [ ]:
# equal-width intervals

labels = ["Sedikit Lebar", "Lebar", "Sangat Lebar"]
amount_of_binning = len(labels)

sepal_width_ew_binning = pd.cut(SEPAL_WIDTH_SERIES, amount_of_binning, True, labels)
labelled_sepal_width_ew_binning = sepal_width_ew_binning.value_counts()
interval_sepal_width_ew_binning = pd.cut(SEPAL_WIDTH_SERIES, amount_of_binning, True).value_counts()

In [ ]:
# dataframe of sepal-width and sepal category
pd.concat((SEPAL_WIDTH_SERIES, sepal_width_ew_binning), axis=1)

    sepal.width    sepal.width
0           3.5          Lebar
1           3.0          Lebar
2           3.2          Lebar
3           3.1          Lebar
4           3.6          Lebar
..          ...            ...
145         3.0          Lebar
146         2.5  Sedikit Lebar
147         3.0          Lebar
148         3.4          Lebar
149         3.0          Lebar

[150 rows x 2 columns]

In [ ]:
# equal-width intervals binning with label
labelled_sepal_width_ew_binning

Lebar            88
Sedikit Lebar    47
Sangat Lebar     15
Name: sepal.width, dtype: int64

In [ ]:
# equal-width intervals without label
interval_sepal_width_ew_binning

(2.8, 3.6]      88
(1.998, 2.8]    47
(3.6, 4.4]      15
Name: sepal.width, dtype: int64

### Petal Width

* Equal Width Intervals lebar mahkota bunga Iris
* Dikelompokkan menjadi 3 kategori yaitu
* Kategori sedikit lebar
* Kategori lebar
* Kategori sangat lebar

In [ ]:
# equal-width intervals
labels = ["Sedikit Lebar", "Lebar", "Sangat Lebar"]
amount_of_binning = len(labels)

petal_width_ew_binning = pd.cut(PETAL_WIDTH_SERIES, amount_of_binning, True, labels)
labelled_petal_width_ew_binning = petal_width_ew_binning.value_counts()
interval_petal_width_ew_binning = pd.cut(PETAL_WIDTH_SERIES, amount_of_binning, True).value_counts()

In [ ]:
# dataframe of petal-width and petal category
pd.concat((PETAL_WIDTH_SERIES, petal_width_ew_binning), axis=1)

    petal.width    petal.width
0           0.2  Sedikit Lebar
1           0.2  Sedikit Lebar
2           0.2  Sedikit Lebar
3           0.2  Sedikit Lebar
4           0.2  Sedikit Lebar
..          ...            ...
145         2.3   Sangat Lebar
146         1.9   Sangat Lebar
147         2.0   Sangat Lebar
148         2.3   Sangat Lebar
149         1.8   Sangat Lebar

[150 rows x 2 columns]

In [ ]:
# equal-width intervals with label
labelled_petal_width_ew_binning

Lebar            54
Sedikit Lebar    50
Sangat Lebar     46
Name: petal.width, dtype: int64

In [ ]:
# equal-width intervals without label
interval_petal_width_ew_binning

(0.9, 1.7]       54
(0.0976, 0.9]    50
(1.7, 2.5]       46
Name: petal.width, dtype: int64

### Sepal Length

* Equal Width Intervals panjang kelopak bunga Iris
* Dikelompokkan menjadi 3 kategori yaitu
* Kategori sedikit lebar
* Kategori lebar
* Kategori sangat lebar

In [ ]:
# equal-width intervals

labels = ["Sedikit Lebar", "Lebar", "Sangat Lebar"]
amount_of_binning = len(labels)

sepal_length_ew_binning = pd.cut(SEPAL_LENGTH_SERIES, amount_of_binning, True, labels)
labelled_sepal_length_ew_binning = sepal_length_ew_binning.value_counts()
interval_sepal_length_ew_binning = pd.cut(SEPAL_LENGTH_SERIES, amount_of_binning, True).value_counts()

In [ ]:
# dataframe of sepal-width and sepal category
pd.concat((SEPAL_LENGTH_SERIES, sepal_length_ew_binning), axis=1)

    sepal.length   sepal.length
0            5.1  Sedikit Lebar
1            4.9  Sedikit Lebar
2            4.7  Sedikit Lebar
3            4.6  Sedikit Lebar
4            5.0  Sedikit Lebar
..           ...            ...
145          6.7          Lebar
146          6.3          Lebar
147          6.5          Lebar
148          6.2          Lebar
149          5.9          Lebar

[150 rows x 2 columns]

In [ ]:
# equal-width intervals with label
labelled_sepal_length_ew_binning

Lebar            71
Sedikit Lebar    59
Sangat Lebar     20
Name: sepal.length, dtype: int64

In [ ]:
# equal-width intervals without label
interval_sepal_length_ew_binning

(5.5, 6.7]      71
(4.296, 5.5]    59
(6.7, 7.9]      20
Name: sepal.length, dtype: int64

### Petal Length

* Equal Width Intervals panjang mahkota bunga Iris
* Dikelompokkan menjadi 3 kategori yaitu
* Kategori sedikit lebar
* Kategori lebar
* Kategori sangat lebar

In [ ]:
# equal-width intervals
labels = ["Sedikit Lebar", "Lebar", "Sangat Lebar"]
amount_of_binning = len(labels)

petal_length_ew_binning = pd.cut(PETAL_LENGTH_SERIES, amount_of_binning, True, labels)
labelled_petal_length_ew_binning = petal_length_ew_binning.value_counts()
interval_petal_length_ew_binning = pd.cut(PETAL_LENGTH_SERIES, amount_of_binning, True).value_counts()

In [ ]:
# dataframe of petal-width and petal category
pd.concat((PETAL_LENGTH_SERIES,petal_length_ew_binning), axis=1)

    petal.length   petal.length
0            1.4  Sedikit Lebar
1            1.4  Sedikit Lebar
2            1.3  Sedikit Lebar
3            1.5  Sedikit Lebar
4            1.4  Sedikit Lebar
..           ...            ...
145          5.2   Sangat Lebar
146          5.0   Sangat Lebar
147          5.2   Sangat Lebar
148          5.4   Sangat Lebar
149          5.1   Sangat Lebar

[150 rows x 2 columns]

In [ ]:
# equal-width intervals binning with label
labelled_petal_length_ew_binning

Lebar            54
Sedikit Lebar    50
Sangat Lebar     46
Name: petal.length, dtype: int64

In [ ]:
# equal-width intervals out label
interval_petal_length_ew_binning

(2.967, 4.933]    54
(0.994, 2.967]    50
(4.933, 6.9]      46
Name: petal.length, dtype: int64

### Qcut
* Qcut adalah sebuah method pada library pandas untuk melakukan perhitungan equal frequency intervals

Syntax 
pd.qcut(series, interval, label)

### Sepal Width

* Equal Frequency Intervals lebar kelopak bunga Iris
* Dikelompokkan menjadi 3 kategori yaitu
* Kategori sedikit lebar
* Kategori lebar
* Kategori sangat lebar

In [ ]:
# equal-frequency intervals

labels = ["Sedikit Lebar", "Lebar", "Sangat Lebar"]
amount_of_binning = len(labels)

sepal_width_ef_binning = pd.qcut(SEPAL_WIDTH_SERIES, amount_of_binning, labels)
labelled_sepal_width_ef_binning = sepal_width_ef_binning.value_counts()
interval_sepal_width_ef_binning = pd.qcut(SEPAL_WIDTH_SERIES, amount_of_binning).value_counts()

In [ ]:
# dataframe of sepal-width and sepal category
pd.concat((SEPAL_WIDTH_SERIES, sepal_width_ef_binning), axis = 1)

    sepal.width    sepal.width
0           3.5   Sangat Lebar
1           3.0          Lebar
2           3.2          Lebar
3           3.1          Lebar
4           3.6   Sangat Lebar
..          ...            ...
145         3.0          Lebar
146         2.5  Sedikit Lebar
147         3.0          Lebar
148         3.4   Sangat Lebar
149         3.0          Lebar

[150 rows x 2 columns]

In [ ]:
# equal-frequency intervals binning with label
labelled_sepal_width_ef_binning

Sedikit Lebar    57
Lebar            50
Sangat Lebar     43
Name: sepal.width, dtype: int64

In [ ]:
# equal-frequency intervals out label
interval_sepal_width_ef_binning

(1.999, 2.9]    57
(2.9, 3.2]      50
(3.2, 4.4]      43
Name: sepal.width, dtype: int64

### Petal Width

* Equal Frequency Intervals lebar mahkota bunga Iris
* Dikelompokkan menjadi 3 kategori yaitu
* Kategori sedikit lebar
* Kategori lebar
* Kategori sangat lebar

In [ ]:
# equal-frequency intervals

labels = ["Sedikit Lebar", "Lebar", "Sangat Lebar"]
amount_of_binning = len(labels)

petal_width_ef_binning = pd.qcut(PETAL_WIDTH_SERIES, amount_of_binning, labels)
labelled_petal_width_ef_binning = petal_width_ef_binning.value_counts()
interval_petal_width_ef_binning = pd.qcut(PETAL_WIDTH_SERIES, amount_of_binning).value_counts()

In [ ]:
# dataframe of petal-width and petal category
pd.concat((PETAL_WIDTH_SERIES, petal_width_ef_binning), axis = 1)

    petal.width    petal.width
0           0.2  Sedikit Lebar
1           0.2  Sedikit Lebar
2           0.2  Sedikit Lebar
3           0.2  Sedikit Lebar
4           0.2  Sedikit Lebar
..          ...            ...
145         2.3   Sangat Lebar
146         1.9   Sangat Lebar
147         2.0   Sangat Lebar
148         2.3   Sangat Lebar
149         1.8   Sangat Lebar

[150 rows x 2 columns]

In [ ]:
# equal-frequency intervals binning with label
labelled_petal_width_ef_binning

Lebar            52
Sedikit Lebar    50
Sangat Lebar     48
Name: petal.width, dtype: int64

In [ ]:
# equal-frequency intervals without label
interval_petal_width_ef_binning

(0.867, 1.6]      52
(0.099, 0.867]    50
(1.6, 2.5]        48
Name: petal.width, dtype: int64

### Sepal Length

* Equal Frequency Intervals panjang kelopak bunga Iris
* Dikelompokkan menjadi 3 kategori yaitu
* Kategori sedikit lebar
* Kategori lebar
* Kategori sangat lebar

In [ ]:
# equal-frequency intervals

labels = ["Sedikit Lebar", "Lebar", "Sangat Lebar"]
amount_of_binning = len(labels)

sepal_length_ef_binning = pd.qcut(SEPAL_LENGTH_SERIES, amount_of_binning, labels)
labelled_sepal_length_ef_binning = sepal_length_ef_binning.value_counts()
interval_sepal_length_ef_binning = pd.qcut(SEPAL_LENGTH_SERIES, amount_of_binning).value_counts()

In [ ]:
# dataframe of sepal-length and sepal category
pd.concat((SEPAL_LENGTH_SERIES, sepal_length_ef_binning), axis=1)

    sepal.length   sepal.length
0            5.1  Sedikit Lebar
1            4.9  Sedikit Lebar
2            4.7  Sedikit Lebar
3            4.6  Sedikit Lebar
4            5.0  Sedikit Lebar
..           ...            ...
145          6.7   Sangat Lebar
146          6.3          Lebar
147          6.5   Sangat Lebar
148          6.2          Lebar
149          5.9          Lebar

[150 rows x 2 columns]

In [ ]:
# equal-frequency intervals binning with label
labelled_sepal_length_ef_binning

Lebar            56
Sedikit Lebar    52
Sangat Lebar     42
Name: sepal.length, dtype: int64

In [ ]:
# equal-frequency intervals out label
interval_sepal_length_ef_binning

(5.4, 6.3]                   56
(4.2989999999999995, 5.4]    52
(6.3, 7.9]                   42
Name: sepal.length, dtype: int64

### Petal Length

* Equal Frequency Intervals panjang mahkota bunga Iris
* Dikelompokkan menjadi 3 kategori yaitu
* Kategori sedikit lebar
* Kategori lebar
* Kategori sangat lebar

In [ ]:
# equal-frequency intervals

labels = ["Sedikit Lebar", "Lebar", "Sangat Lebar"]
amount_of_binning = len(labels)

petal_length_ef_binning = pd.qcut(PETAL_LENGTH_SERIES, amount_of_binning, labels)
labelled_petal_length_ef_binning = petal_length_ef_binning.value_counts()
interval_petal_length_ef_binning = pd.qcut(PETAL_LENGTH_SERIES, amount_of_binning).value_counts()

In [ ]:
# dataframe of petal-length and petal category
pd.concat((PETAL_LENGTH_SERIES, petal_length_ef_binning), axis=1)

    petal.length   petal.length
0            1.4  Sedikit Lebar
1            1.4  Sedikit Lebar
2            1.3  Sedikit Lebar
3            1.5  Sedikit Lebar
4            1.4  Sedikit Lebar
..           ...            ...
145          5.2   Sangat Lebar
146          5.0   Sangat Lebar
147          5.2   Sangat Lebar
148          5.4   Sangat Lebar
149          5.1   Sangat Lebar

[150 rows x 2 columns]

In [ ]:
# equal-frequency intervals binning with label
labelled_petal_length_ef_binning

Lebar            54
Sedikit Lebar    50
Sangat Lebar     46
Name: petal.length, dtype: int64

In [ ]:
# equal-frequency intervals out label
interval_petal_length_ef_binning

(2.633, 4.9]      54
(0.999, 2.633]    50
(4.9, 6.9]        46
Name: petal.length, dtype: int64

## Implementasi K-NN pada dataset iris (TUGAS 3)

In [7]:
import pandas as pd
# mengakses data 
dataset_url = "https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv"
# membaca data
df = pd.read_csv(dataset_url)
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [8]:
#check number of rows and columns in dataset
df.shape

(150, 5)

In [10]:
#create a dataframe with all training data except the target column
X = df.drop(columns=['variety'])
#check that the target variable has been removed
X.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [11]:
#separate target values
y = df['variety'].values
#view target values
y[0:5]

array(['Setosa', 'Setosa', 'Setosa', 'Setosa', 'Setosa'], dtype=object)

In [12]:
from sklearn.model_selection import train_test_split
#split dataset into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1, stratify=y)

In [13]:
from sklearn.neighbors import KNeighborsClassifier
# Create KNN classifier
knn = KNeighborsClassifier(n_neighbors = 3)
# Fit the classifier to the data
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [14]:
#show first 5 model predictions on the test data
knn.predict(X_test)[0:5]

array(['Virginica', 'Setosa', 'Versicolor', 'Setosa', 'Setosa'],
      dtype=object)

In [15]:
#check accuracy of our model on the test data
knn.score(X_test, y_test)

0.9666666666666667

In [17]:
from sklearn.model_selection import cross_val_score
import numpy as np
#create a new KNN model
knn_cv = KNeighborsClassifier(n_neighbors=3)
#train model with cv of 5 
cv_scores = cross_val_score(knn_cv, X, y, cv=5)
#print each cv score (accuracy) and average them
print(cv_scores)
print('cv_scores mean:{}'.format(np.mean(cv_scores)))

[0.96666667 0.96666667 0.93333333 0.96666667 1.        ]
cv_scores mean:0.9666666666666668

In [18]:
from sklearn.model_selection import GridSearchCV
#create new a knn model
knn2 = KNeighborsClassifier()
#create a dictionary of all values we want to test for n_neighbors
param_grid = {'n_neighbors': np.arange(1, 25)}
#use gridsearch to test all values for n_neighbors
knn_gscv = GridSearchCV(knn2, param_grid, cv=5)
#fit model to data
knn_gscv.fit(X, y)

GridSearchCV(cv=5, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])})

In [19]:
#check top performing n_neighbors value
knn_gscv.best_params_

{'n_neighbors': 6}

In [20]:
#check mean score for the top performing value of n_neighbors
knn_gscv.best_score_

0.9800000000000001