# Gaussian Model

In [5]:
# import streamlit as st

import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import StackingClassifier
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

import pickle

from sklearn import metrics

In [6]:
df = pd.read_csv("https://raw.githubusercontent.com/dewialqurani/project_kk/main/kelompok8.csv")

In [7]:
df

,NO,TEMPAT LAHIR,TANGGAL LAHIR,UMUR,GOLONGAN DARAH,JENIS KELAMIN,HB,BB (kg),TENSI,TENSI 2,STATUS
0,1,Lamongan,4/23/1970,52,AB,L,15.0,77,130,80,Layak
1,2,Malang,6/24/1965,57,AB,L,13.0,68,130,80,Layak
2,3,Lamongan,10/19/1983,39,O,L,12.1,70,130,80,Layak
3,4,Sidikalang,5/10/1970,52,O,P,12.2,65,150,80,Layak
4,5,Mojokerto,5/15/1965,57,B,L,13.8,80,140,80,Layak
...,...,...,...,...,...,...,...,...,...,...,...
115,116,Pamekasan,9/9/2004,18,O,L,11.2,83,110,80,Tidak Layak
116,117,Ngawi,9/18/1990,32,O,L,10.7,76,100,80,Tidak Layak
117,118,Kediri,6/12/1994,28,B,L,10.5,60,90,80,Tidak Layak
118,119,Blitar,8/14/1993,29,O,L,10.7,75,110,80,Tidak Layak
119,120,Tulungagung,12/12/1978,44,O,P,11.0,57,90,80,Tidak Layak

In [8]:
df=df.drop(['NO','TEMPAT LAHIR','TANGGAL LAHIR'], axis=1)

In [9]:
df

,UMUR,GOLONGAN DARAH,JENIS KELAMIN,HB,BB (kg),TENSI,TENSI 2,STATUS
0,52,AB,L,15.0,77,130,80,Layak
1,57,AB,L,13.0,68,130,80,Layak
2,39,O,L,12.1,70,130,80,Layak
3,52,O,P,12.2,65,150,80,Layak
4,57,B,L,13.8,80,140,80,Layak
...,...,...,...,...,...,...,...,...
115,18,O,L,11.2,83,110,80,Tidak Layak
116,32,O,L,10.7,76,100,80,Tidak Layak
117,28,B,L,10.5,60,90,80,Tidak Layak
118,29,O,L,10.7,75,110,80,Tidak Layak
119,44,O,P,11.0,57,90,80,Tidak Layak

In [10]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
df['GOLONGAN DARAH'] = labelencoder.fit_transform(df['GOLONGAN DARAH'])
df['JENIS KELAMIN'] = labelencoder.fit_transform(df['JENIS KELAMIN'])
df['STATUS'] = labelencoder.fit_transform(df['STATUS'])

In [11]:
df

,UMUR,GOLONGAN DARAH,JENIS KELAMIN,HB,BB (kg),TENSI,TENSI 2,STATUS
0,52,1,0,15.0,77,130,80,0
1,57,1,0,13.0,68,130,80,0
2,39,3,0,12.1,70,130,80,0
3,52,3,1,12.2,65,150,80,0
4,57,2,0,13.8,80,140,80,0
...,...,...,...,...,...,...,...,...
115,18,3,0,11.2,83,110,80,1
116,32,3,0,10.7,76,100,80,1
117,28,2,0,10.5,60,90,80,1
118,29,3,0,10.7,75,110,80,1
119,44,3,1,11.0,57,90,80,1

In [12]:
scaler = MinMaxScaler()

In [13]:
df_for_scaler = pd.DataFrame(df, columns = ['UMUR','HB','BB (kg)', 'TENSI', 'TENSI 2'])
df_for_scaler = scaler.fit_transform(df_for_scaler)
df_for_scaler = pd.DataFrame(df_for_scaler,columns = ['UMUR','HB','BB (kg)', 'TENSI', 'TENSI 2'])
df_drop_column_for_minmaxscaler=df.drop(['UMUR','HB','BB (kg)', 'TENSI', 'TENSI 2'], axis=1)
df_new = pd.concat([df_for_scaler,df_drop_column_for_minmaxscaler], axis=1)

In [14]:
df_new

,UMUR,HB,BB (kg),TENSI,TENSI 2,GOLONGAN DARAH,JENIS KELAMIN,STATUS
0,0.875,0.696970,0.627451,0.625,0.0,1,0,0
1,1.000,0.393939,0.450980,0.625,0.0,1,0,0
2,0.550,0.257576,0.490196,0.625,0.0,3,0,0
3,0.875,0.272727,0.392157,0.875,0.0,3,1,0
4,1.000,0.515152,0.686275,0.750,0.0,2,0,0
...,...,...,...,...,...,...,...,...
115,0.025,0.121212,0.745098,0.375,0.0,3,0,1
116,0.375,0.045455,0.607843,0.250,0.0,3,0,1
117,0.275,0.015152,0.294118,0.125,0.0,2,0,1
118,0.300,0.045455,0.588235,0.375,0.0,3,0,1
119,0.675,0.090909,0.235294,0.125,0.0,3,1,1

In [15]:
X=df_new.iloc[:,0:7].values
y=df_new.iloc[:,7].values

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [17]:
model = GaussianNB()

In [18]:
model.fit(X_train, y_train)
Y_pred = model.predict(X_test) 
score=metrics.accuracy_score(y_test,Y_pred)
print(score)

1.0

In [22]:
pickle.dump(model, open("gnb_pkl", "wb"))